body {
    display: flex;
    justify-content: center;
    padding: 3rem 2rem;
}

.container {
    width: 100%;
    max-width: 38rem;

    & > img {
        padding-top: 2rem;
        margin-top: auto;
    }
}

footer {
    // justify-content: end;
    margin-top: 3rem;
}
