.icon {
    width: clamp(1.4rem, 8vw, 2.1rem);
    height: clamp(1.4rem, 8vw, 2.1rem);
    border-radius: 50%;
    background-color: white;
    border: 0.1rem var(--clr-neutral-100) solid;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--clr-primary);

    text-decoration: none;

    transition: background-color 0.2s ease, color 0.1s ease 0.1s;

    &:not(:last-of-type) {
        margin-right: 0.9rem;
    }

    &:focus,
    &:hover {
        color: white;
        background-color: var(--clr-primary);
        outline: none;
        border: none;
    }
}
