input[type='text'] {
    @include input;
    padding: 0.3rem 1.5rem;
    border: 0.1rem solid var(--clr-neutral-100);

    &:placeholder {
        color: var(--clr-neutral-100);
        opacity: 1;
    }
}
