header {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    text-align: center;

    .logo {
        width: 4rem;
        margin: 3rem auto;
    }
}

h1 {
    font-weight: 300;
    color: var(--clr-neutral-200);
    & span {
        font-weight: 700;
        color: var(--clr-neutral-900);
    }
}
